<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.tgyuu.ebbingplanner.widget.todaytodo.TodayTodoWidgetReceiver"
            android:exported="true"
            android:label="오늘 일정 위젯">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_todo_widget_info" />
        </receiver>

        <receiver
            android:name="com.tgyuu.ebbingplanner.widget.calendar.CalendarWidgetReceiver"
            android:exported="true"
            android:label="이번 달 달력 위젯">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>
    </application>

</manifest>
